global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['${PROMETHEUS_TARGET}']

  - job_name: 'walrus_storage_node'
    static_configs:
      - targets: ['${WALRUS_NODE_TARGET}']
        labels:
          service: 'storage_node'

  - job_name: 'walrus_aggregator'
    static_configs:
      - targets: ['${WALRUS_AGGREGATOR_TARGET}']
        labels:
          service: 'aggregator'

  - job_name: 'walrus_publisher'
    static_configs:
      - targets: ['${WALRUS_PUBLISHER_TARGET}']
        labels:
          service: 'publisher'          